<div class="">
    <h2>Login</h2>
    <hr>
    <form class="form" method="post" action="/auth/login">
        <input type="text" class="form-control" placeholder="Email" name="email">
        <br><br>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <hr>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>