
<h1 class=" container disabled">V.M.S. -<p>Video Media Search</p></h1><hr>
<form class="text-center" action="/search" method="GET">
  <p>Search for your favorite<br> Movies and TV shows</p>

  <div class="form-group">
    <input name="q" type="search" class="form-control" placeholder="Ω">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
<div>
</div>