
<h1 class="btn-primary container disabled">V.M.S. -<p>Video Media Search</p></h1>
<form class="text-center" action="/search" method="GET">
  <p>Use the search bar to find your favorite<br> Movies or Televison shows</p>
  <hr>

  <div class="form-group">
    <input name="q" type="text" class="form-control" placeholder="Ω">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
</div>